*~
*.DS_Store
*.a
*.o
*.so
CMakeFiles
Makefile
Build
cmake_install.cmake
/Tests/catch.hpp
/Tests/unittests
/MatlabGaborFilter/Inputs*/*
/matlab.mat
**/*.pyc
.cproject
._catch.hpp
.project
.pydevproject
DakotaTest/workdir.*
DakotaTest/fort.*
DakotaTest/params.in.*
DakotaTest/results.out.*
DakotaTest/S4
DakotaTest/LHS*
DakotaTest/dakota.rst
DakotaTest/dakota_tabular.dat
DakotaTest/dakota_results.txt.txt
*.png
DakotaTest/OptimalParameters/
DakotaTest/optimisation_iteration_index.txt
