*~
*.DS_Store
*.o
ExampleLIF
ExampleIzhikevich
catch.hpp
unittests
/Results/*
/ObjectFiles/*
/MatlabGaborFilter/Inputs/*
/matlab.mat
/Experiments/bin/*
**/*.pyc
.cproject
._catch.hpp
.project
.pydevproject
DakotaTest/workdir.*
DakotaTest/fort.*
DakotaTest/params.in.*
DakotaTest/results.out.*
DakotaTest/S4
DakotaTest/LHS*
DakotaTest/dakota.rst
DakotaTest/dakota_tabular.dat
DakotaTest/dakota_results.txt.txt
*.png
